<div id="<%= dom_id coffee %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= coffee.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Roaster:</strong>
    <%= coffee.roaster %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Origin:</strong>
    <%= coffee.origin %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Roast level:</strong>
    <%= coffee.roast_level %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tasting notes:</strong>
    <%= coffee.tasting_notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= coffee.rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Website url:</strong>
    <%= coffee.website_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date tried:</strong>
    <%= coffee.date_tried %>
  </div>
</div>
